@model List<WebApplication.ViewModels.Timeline.TimelineMessageVM>

<ul class="messages">
    @if (Model.Count > 0)
    {
        foreach (var message in Model)
        {
            <li>
                <img src="@message.GetGravatarURL(size: 48)" alt="" />
                <p>
                    <strong>
                        <a 
                            asp-controller="Timeline" 
                            asp-action="UserTimeline" 
                            asp-route-username="@message.User.Username">@message.User.Username</a>
                    </strong>
                    @message.Text
                    <small>&mdash; @message.GetPublishDateFormatted()</small>
                </p>
            </li>
        }
    }
    else
    {
        <li>
            <em>There's no message so far.</em>
        </li>
    }
</ul>